
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="homeDiv">
    <h2>Jellyfin Server</h2>
    <p>Created a Jellyfin server using Dynu to host endpoint, making it accessible remotely and on mobile devices using the Jellyfin app.</p>
</div>

<div class="homeDiv">
    <h2>Fantasy Football Machine Learning</h2>
    <p>
</div>

<div class="homeDiv">
    <h2>Peak Psychiatry Website</h2>
    <p>https://peak-psychiatry.com/</p>
    <p>Leverage bootstrap theme to create a static website hosted on netlify. DNS configuration done through GoDaddy.</p>
</div>

<div class="homeDiv">
    <h2></h2>
    <p>
</div>